###############################
# Device settings
###############################

# xpad compatible Controller
XPAD_ID=0
XPAD_NAME="Logitech Gamepad F710"

# Uncomment if you have mouse
#MOUSE_ID=0
#MOUSE_NAME="Logitech G203 Prodigy Gaming Mouse"

# Uncomment this if you have touchscreen
#TOUCH_ID=0
#TOUCH_NAME="Goodix Capacitive TouchScreen"


###############################
# Dolphin Emulator settings
###############################
DOLPHIN_WII_DEFAULT="XB Horizontal.ini"
DOLPHIN_PATH="$HOME"/.config/dolphin-emu
DOLPHIN_GAMESETTINGS="$HOME"/.local/share/dolphin-emu/GameSettings
## Compat-Paths
#DOLPHIN_PATH="$HOME"/.dolphin-emu/Config
#DOLPHIN_GAMESETTINGS="$HOME"/.dolphin-emu/GameSettings


###############################
# mupen64plus Emulator settings
###############################
MUPEN64PLUS_PATH="$HOME"/.config/mupen64plus
