# xpad compatible Controller
XPAD_ID=0
XPAD_NAME="Logitech Gamepad F710"

# Dolphin Emulator settings
DOLPHIN_WII_DEFAULT="XB Horizontal.ini"
DOLPHIN_PATH="$HOME"/.config/dolphin-emu
DOLPHIN_GAMESETTINGS="$HOME"/.local/share/dolphin-emu/GameSettings
## Compat-Paths
#DOLPHIN_PATH="$HOME"/.dolphin-emu/Config
#DOLPHIN_GAMESETTINGS="$HOME"/.dolphin-emu/GameSettings

