# xpad compatible Controller
XPAD_ID=0
XPAD_NAME="Logitech Gamepad F710"

Dolphin Emulator settings
DOLPHIN_PATH="$HOME"/.config/dolphin-emu
#DOLPHIN_PATH="$HOME"/.dolphin-emu/Config
DOLPHIN_WII_DEFAULT="XB Horizontal.ini"

